<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>970880836401-8cq1btebbfqkuovgduitad5kdaqpa869.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.970880836401-8cq1btebbfqkuovgduitad5kdaqpa869</string>
	<key>API_KEY</key>
	<string>AIzaSyBXl758mUj5XjCNmdJZy2247CIi3GoF74A</string>
	<key>GCM_SENDER_ID</key>
	<string>970880836401</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ehs.chatApp</string>
	<key>PROJECT_ID</key>
	<string>fir-demoproject-71c92</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-demoproject-71c92.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:970880836401:ios:245b2f3a193ae9c6</string>
	<key>DATABASE_URL</key>
	<string>https://fir-demoproject-71c92.firebaseio.com</string>
</dict>
</plist>